<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whch.presentCloud.mapper.menuMapper" >
  <resultMap id="BaseResultMap" type="com.whch.presentCloud.entity.menu" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="SuperiorMenuNumber" property="superiormenunumber" jdbcType="INTEGER" />
    <result column="MenuName" property="menuname" jdbcType="VARCHAR" />
    <result column="ButtonEnglishlogo" property="buttonenglishlogo" jdbcType="VARCHAR" />
    <result column="ButtonChineselogo" property="buttonchineselogo" jdbcType="VARCHAR" />
    <result column="IsMenu" property="ismenu" jdbcType="INTEGER" />
    <result column="Creator" property="creator" jdbcType="VARCHAR" />
    <result column="CreationDate" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="ModificationDate" property="modificationdate" jdbcType="TIMESTAMP" />
    <result column="Modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, SuperiorMenuNumber, MenuName, ButtonEnglishlogo, ButtonChineselogo, IsMenu, Creator, 
    CreationDate, ModificationDate, Modifier
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from menu
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whch.presentCloud.entity.menu" >
    insert into menu (Id, SuperiorMenuNumber, MenuName, 
      ButtonEnglishlogo, ButtonChineselogo, IsMenu, 
      Creator, CreationDate, ModificationDate, 
      Modifier)
    values (#{id,jdbcType=INTEGER}, #{superiormenunumber,jdbcType=INTEGER}, #{menuname,jdbcType=VARCHAR}, 
      #{buttonenglishlogo,jdbcType=VARCHAR}, #{buttonchineselogo,jdbcType=VARCHAR}, #{ismenu,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, #{creationdate,jdbcType=TIMESTAMP}, #{modificationdate,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.whch.presentCloud.entity.menu" >
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="superiormenunumber != null" >
        SuperiorMenuNumber,
      </if>
      <if test="menuname != null" >
        MenuName,
      </if>
      <if test="buttonenglishlogo != null" >
        ButtonEnglishlogo,
      </if>
      <if test="buttonchineselogo != null" >
        ButtonChineselogo,
      </if>
      <if test="ismenu != null" >
        IsMenu,
      </if>
      <if test="creator != null" >
        Creator,
      </if>
      <if test="creationdate != null" >
        CreationDate,
      </if>
      <if test="modificationdate != null" >
        ModificationDate,
      </if>
      <if test="modifier != null" >
        Modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="superiormenunumber != null" >
        #{superiormenunumber,jdbcType=INTEGER},
      </if>
      <if test="menuname != null" >
        #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="buttonenglishlogo != null" >
        #{buttonenglishlogo,jdbcType=VARCHAR},
      </if>
      <if test="buttonchineselogo != null" >
        #{buttonchineselogo,jdbcType=VARCHAR},
      </if>
      <if test="ismenu != null" >
        #{ismenu,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationdate != null" >
        #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationdate != null" >
        #{modificationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whch.presentCloud.entity.menu" >
    update menu
    <set >
      <if test="superiormenunumber != null" >
        SuperiorMenuNumber = #{superiormenunumber,jdbcType=INTEGER},
      </if>
      <if test="menuname != null" >
        MenuName = #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="buttonenglishlogo != null" >
        ButtonEnglishlogo = #{buttonenglishlogo,jdbcType=VARCHAR},
      </if>
      <if test="buttonchineselogo != null" >
        ButtonChineselogo = #{buttonchineselogo,jdbcType=VARCHAR},
      </if>
      <if test="ismenu != null" >
        IsMenu = #{ismenu,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        Creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationdate != null" >
        CreationDate = #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationdate != null" >
        ModificationDate = #{modificationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        Modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whch.presentCloud.entity.menu" >
    update menu
    set SuperiorMenuNumber = #{superiormenunumber,jdbcType=INTEGER},
      MenuName = #{menuname,jdbcType=VARCHAR},
      ButtonEnglishlogo = #{buttonenglishlogo,jdbcType=VARCHAR},
      ButtonChineselogo = #{buttonchineselogo,jdbcType=VARCHAR},
      IsMenu = #{ismenu,jdbcType=INTEGER},
      Creator = #{creator,jdbcType=VARCHAR},
      CreationDate = #{creationdate,jdbcType=TIMESTAMP},
      ModificationDate = #{modificationdate,jdbcType=TIMESTAMP},
      Modifier = #{modifier,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>