<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whch.presentCloud.mapper.signinMapper" >
  <resultMap id="BaseResultMap" type="com.whch.presentCloud.entity.signin" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="SignInType" property="signintype" jdbcType="INTEGER" />
    <result column="EndTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="Publisher" property="publisher" jdbcType="VARCHAR" />
    <result column="ClassId" property="classid" jdbcType="INTEGER" />
    <result column="StartTime" property="starttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, UserId, SignInType, EndTime, Publisher, ClassId, StartTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from signin
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from signin
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whch.presentCloud.entity.signin" >
    insert into signin (Id, UserId, SignInType, 
      EndTime, Publisher, ClassId, 
      StartTime)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{signintype,jdbcType=INTEGER}, 
      #{endtime,jdbcType=TIMESTAMP}, #{publisher,jdbcType=VARCHAR}, #{classid,jdbcType=INTEGER}, 
      #{starttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.whch.presentCloud.entity.signin" >
    insert into signin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="signintype != null" >
        SignInType,
      </if>
      <if test="endtime != null" >
        EndTime,
      </if>
      <if test="publisher != null" >
        Publisher,
      </if>
      <if test="classid != null" >
        ClassId,
      </if>
      <if test="starttime != null" >
        StartTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="signintype != null" >
        #{signintype,jdbcType=INTEGER},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="publisher != null" >
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whch.presentCloud.entity.signin" >
    update signin
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="signintype != null" >
        SignInType = #{signintype,jdbcType=INTEGER},
      </if>
      <if test="endtime != null" >
        EndTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="publisher != null" >
        Publisher = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="classid != null" >
        ClassId = #{classid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        StartTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whch.presentCloud.entity.signin" >
    update signin
    set UserId = #{userid,jdbcType=INTEGER},
      SignInType = #{signintype,jdbcType=INTEGER},
      EndTime = #{endtime,jdbcType=TIMESTAMP},
      Publisher = #{publisher,jdbcType=VARCHAR},
      ClassId = #{classid,jdbcType=INTEGER},
      StartTime = #{starttime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>