<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whch.presentCloud.mapper.dictionaryTypeMapper" >
  <resultMap id="BaseResultMap" type="com.whch.presentCloud.entity.dictionaryType" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Sexy" property="sexy" jdbcType="VARCHAR" />
    <result column="Code" property="code" jdbcType="INTEGER" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
    <result column="Identity" property="identity" jdbcType="INTEGER" />
    <result column="Creator" property="creator" jdbcType="INTEGER" />
    <result column="CreatorDate" property="creatordate" jdbcType="TIMESTAMP" />
    <result column="ModificationDate" property="modificationdate" jdbcType="TIMESTAMP" />
    <result column="Modifier" property="modifier" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Sexy, Code, Description, Identity, Creator, CreatorDate, ModificationDate, Modifier
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dictionarytype
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dictionarytype
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whch.presentCloud.entity.dictionaryType" >
    insert into dictionarytype (Id, Sexy, Code, 
      Description, Identity, Creator, 
      CreatorDate, ModificationDate, Modifier
      )
    values (#{id,jdbcType=INTEGER}, #{sexy,jdbcType=VARCHAR}, #{code,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{identity,jdbcType=INTEGER}, #{creator,jdbcType=INTEGER}, 
      #{creatordate,jdbcType=TIMESTAMP}, #{modificationdate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.whch.presentCloud.entity.dictionaryType" >
    insert into dictionarytype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="sexy != null" >
        Sexy,
      </if>
      <if test="code != null" >
        Code,
      </if>
      <if test="description != null" >
        Description,
      </if>
      <if test="identity != null" >
        Identity,
      </if>
      <if test="creator != null" >
        Creator,
      </if>
      <if test="creatordate != null" >
        CreatorDate,
      </if>
      <if test="modificationdate != null" >
        ModificationDate,
      </if>
      <if test="modifier != null" >
        Modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sexy != null" >
        #{sexy,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="creatordate != null" >
        #{creatordate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationdate != null" >
        #{modificationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whch.presentCloud.entity.dictionaryType" >
    update dictionarytype
    <set >
      <if test="sexy != null" >
        Sexy = #{sexy,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        Code = #{code,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        Description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        Identity = #{identity,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        Creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="creatordate != null" >
        CreatorDate = #{creatordate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationdate != null" >
        ModificationDate = #{modificationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        Modifier = #{modifier,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whch.presentCloud.entity.dictionaryType" >
    update dictionarytype
    set Sexy = #{sexy,jdbcType=VARCHAR},
      Code = #{code,jdbcType=INTEGER},
      Description = #{description,jdbcType=VARCHAR},
      Identity = #{identity,jdbcType=INTEGER},
      Creator = #{creator,jdbcType=INTEGER},
      CreatorDate = #{creatordate,jdbcType=TIMESTAMP},
      ModificationDate = #{modificationdate,jdbcType=TIMESTAMP},
      Modifier = #{modifier,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>