<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whch.presentCloud.mapper.taskMemoryMapper" >
  <resultMap id="BaseResultMap" type="com.whch.presentCloud.entity.taskMemory" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="StudentId" property="studentid" jdbcType="INTEGER" />
    <result column="IsParticipate" property="isparticipate" jdbcType="INTEGER" />
    <result column="Grade" property="grade" jdbcType="INTEGER" />
    <result column="Anser" property="anser" jdbcType="VARCHAR" />
    <result column="GradePoint" property="gradepoint" jdbcType="VARCHAR" />
    <result column="Task" property="task" jdbcType="VARCHAR" />
    <result column="ClassId" property="classid" jdbcType="INTEGER" />
    <result column="Team" property="team" jdbcType="INTEGER" />
    <result column="ScoringMethod" property="scoringmethod" jdbcType="VARCHAR" />
    <result column="LastSubmitTime" property="lastsubmittime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, StudentId, IsParticipate, Grade, Anser, GradePoint, Task, ClassId, Team, ScoringMethod, 
    LastSubmitTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from taskmemory
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from taskmemory
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whch.presentCloud.entity.taskMemory" >
    insert into taskmemory (Id, StudentId, IsParticipate, 
      Grade, Anser, GradePoint, 
      Task, ClassId, Team, 
      ScoringMethod, LastSubmitTime)
    values (#{id,jdbcType=INTEGER}, #{studentid,jdbcType=INTEGER}, #{isparticipate,jdbcType=INTEGER}, 
      #{grade,jdbcType=INTEGER}, #{anser,jdbcType=VARCHAR}, #{gradepoint,jdbcType=VARCHAR}, 
      #{task,jdbcType=VARCHAR}, #{classid,jdbcType=INTEGER}, #{team,jdbcType=INTEGER}, 
      #{scoringmethod,jdbcType=VARCHAR}, #{lastsubmittime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.whch.presentCloud.entity.taskMemory" >
    insert into taskmemory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="studentid != null" >
        StudentId,
      </if>
      <if test="isparticipate != null" >
        IsParticipate,
      </if>
      <if test="grade != null" >
        Grade,
      </if>
      <if test="anser != null" >
        Anser,
      </if>
      <if test="gradepoint != null" >
        GradePoint,
      </if>
      <if test="task != null" >
        Task,
      </if>
      <if test="classid != null" >
        ClassId,
      </if>
      <if test="team != null" >
        Team,
      </if>
      <if test="scoringmethod != null" >
        ScoringMethod,
      </if>
      <if test="lastsubmittime != null" >
        LastSubmitTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="studentid != null" >
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="isparticipate != null" >
        #{isparticipate,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="anser != null" >
        #{anser,jdbcType=VARCHAR},
      </if>
      <if test="gradepoint != null" >
        #{gradepoint,jdbcType=VARCHAR},
      </if>
      <if test="task != null" >
        #{task,jdbcType=VARCHAR},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="team != null" >
        #{team,jdbcType=INTEGER},
      </if>
      <if test="scoringmethod != null" >
        #{scoringmethod,jdbcType=VARCHAR},
      </if>
      <if test="lastsubmittime != null" >
        #{lastsubmittime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective">
    update taskmemory
    <set >
      <if test="record.studentid != null" >
        StudentId = #{record.studentid,jdbcType=INTEGER},
      </if>
      <if test="record.isparticipate != null" >
        IsParticipate = #{record.isparticipate,jdbcType=INTEGER},
      </if>
      <if test="record.grade != null" >
        Grade = #{record.grade,jdbcType=INTEGER},
      </if>
      <if test="record.anser != null" >
        Anser = #{record.anser,jdbcType=VARCHAR},
      </if>
      <if test="record.gradepoint != null" >
        GradePoint = #{record.gradepoint,jdbcType=VARCHAR},
      </if>
      <if test="record.task != null" >
        Task = #{record.task,jdbcType=VARCHAR},
      </if>
      <if test="record.classid != null" >
        ClassId = #{record.classid,jdbcType=INTEGER},
      </if>
      <if test="record.team != null" >
        Team = #{record.team,jdbcType=INTEGER},
      </if>
      <if test="record.scoringmethod != null" >
        ScoringMethod = #{record.scoringmethod,jdbcType=VARCHAR},
      </if>
      <if test="record.lastsubmittime != null" >
        LastSubmitTime = #{record.lastsubmittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where StudentId = #{studentId,jdbcType=INTEGER} and Task = #{taskId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whch.presentCloud.entity.taskMemory" >
    update taskmemory
    set StudentId = #{studentid,jdbcType=INTEGER},
      IsParticipate = #{isparticipate,jdbcType=INTEGER},
      Grade = #{grade,jdbcType=INTEGER},
      Anser = #{anser,jdbcType=VARCHAR},
      GradePoint = #{gradepoint,jdbcType=VARCHAR},
      Task = #{task,jdbcType=VARCHAR},
      ClassId = #{classid,jdbcType=INTEGER},
      Team = #{team,jdbcType=INTEGER},
      ScoringMethod = #{scoringmethod,jdbcType=VARCHAR},
      LastSubmitTime = #{lastsubmittime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>