<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whch.presentCloud.mapper.userInfoMapper" >
  <resultMap id="BaseResultMap" type="com.whch.presentCloud.entity.userInfo" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Number" property="number" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="NickName" property="nickname" jdbcType="VARCHAR" />
    <result column="Birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="Sex" property="sex" jdbcType="VARCHAR" />
    <result column="School" property="school" jdbcType="VARCHAR" />
    <result column="Department" property="department" jdbcType="VARCHAR" />
    <result column="Role" property="role" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Master" property="master" jdbcType="VARCHAR" />
    <result column="CreationDate" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="ModificationDate" property="modificationdate" jdbcType="TIMESTAMP" />
    <result column="Creator" property="creator" jdbcType="INTEGER" />
    <result column="Modifier" property="modifier" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.whch.presentCloud.entity.userInfo" extends="BaseResultMap" >
    <result column="Image" property="image" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Number, password, Name, NickName, Birthday, Sex, School, Department, Role, Phone, 
    Master, CreationDate, ModificationDate, Creator, Modifier
  </sql>
  <sql id="Blob_Column_List" >
    Image
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from userinfo
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userinfo
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whch.presentCloud.entity.userInfo" >
    insert into userinfo (Id, Number, password, 
      Name, NickName, Birthday, 
      Sex, School, Department, 
      Role, Phone, Master, 
      CreationDate, ModificationDate, Creator, 
      Modifier, Image)
    values (#{id,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{sex,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR},
      #{role,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{master,jdbcType=VARCHAR}, 
      #{creationdate,jdbcType=TIMESTAMP}, #{modificationdate,jdbcType=TIMESTAMP}, #{creator,jdbcType=INTEGER}, 
      #{modifier,jdbcType=INTEGER}, #{image,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.whch.presentCloud.entity.userInfo" >
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="number != null" >
        Number,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="nickname != null" >
        NickName,
      </if>
      <if test="birthday != null" >
        Birthday,
      </if>
      <if test="sex != null" >
        Sex,
      </if>
      <if test="school != null" >
        School,
      </if>
      <if test="department != null" >
        Department,
      </if>
      <if test="role != null" >
        Role,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="master != null" >
        Master,
      </if>
      <if test="creationdate != null" >
        CreationDate,
      </if>
      <if test="modificationdate != null" >
        ModificationDate,
      </if>
      <if test="creator != null" >
        Creator,
      </if>
      <if test="modifier != null" >
        Modifier,
      </if>
      <if test="image != null" >
        Image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="master != null" >
        #{master,jdbcType=VARCHAR},
      </if>
      <if test="creationdate != null" >
        #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationdate != null" >
        #{modificationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        #{image,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whch.presentCloud.entity.userInfo" >
    update userinfo
    <set >
      <if test="number != null" >
        Number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        Birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null" >
        Sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        School = #{school,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        Department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        Role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="master != null" >
        Master = #{master,jdbcType=VARCHAR},
      </if>
      <if test="creationdate != null" >
        CreationDate = #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationdate != null" >
        ModificationDate = #{modificationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        Creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="modifier != null" >
        Modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        Image = #{image,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.whch.presentCloud.entity.userInfo" >
    update userinfo
    set Number = #{number,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      NickName = #{nickname,jdbcType=VARCHAR},
      Birthday = #{birthday,jdbcType=TIMESTAMP},
      Sex = #{sex,jdbcType=VARCHAR},
      School = #{school,jdbcType=VARCHAR},
      Department = #{department,jdbcType=VARCHAR},
      Role = #{role,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Master = #{master,jdbcType=VARCHAR},
      CreationDate = #{creationdate,jdbcType=TIMESTAMP},
      ModificationDate = #{modificationdate,jdbcType=TIMESTAMP},
      Creator = #{creator,jdbcType=INTEGER},
      Modifier = #{modifier,jdbcType=INTEGER},
      Image = #{image,jdbcType=LONGVARBINARY}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findByPaging" resultMap="BaseResultMap" parameterType="com.whch.presentCloud.entity.userInfo">
    select
    <include refid="Base_Column_List"/>
    from userinfo
  </select>
  <update id="updateByPrimaryKey" parameterType="com.whch.presentCloud.entity.userInfo" >
    update userinfo
    set Number = #{number,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      NickName = #{nickname,jdbcType=VARCHAR},
      Birthday = #{birthday,jdbcType=TIMESTAMP},
      Sex = #{sex,jdbcType=VARCHAR},
      School = #{school,jdbcType=VARCHAR},
      Department = #{department,jdbcType=VARCHAR},
      Role = #{role,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Master = #{master,jdbcType=VARCHAR},
      CreationDate = #{creationdate,jdbcType=TIMESTAMP},
      ModificationDate = #{modificationdate,jdbcType=TIMESTAMP},
      Creator = #{creator,jdbcType=INTEGER},
      Modifier = #{modifier,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <select  id="multiquery" resultMap="BaseResultMap" parameterType="com.whch.presentCloud.entity.userInfo">
    select * from userinfo
    <where>
      <if test="id!=null"> Id like  #{id} </if>
      <if test="role!=null"> and Role like #{role}</if>
      <if test="School!=null"> and School like #{school}</if>
      <if test="Department!=null"> and Department like #{department}</if>
    </where>
  </select>
</mapper>