<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whch.presentCloud.mapper.classLessonMapper" >
  <resultMap id="BaseResultMap" type="com.whch.presentCloud.entity.classLesson" >
    <id column="ClassId" property="classid" jdbcType="INTEGER" />
    <result column="ClassName" property="classname" jdbcType="VARCHAR" />
    <result column="TeacherName" property="teachername" jdbcType="VARCHAR" />
    <result column="TeacherId" property="teacherid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="Master" property="master" jdbcType="VARCHAR" />
    <result column="People_Count" property="peopleCount" jdbcType="INTEGER" />
    <result column="Location" property="location" jdbcType="VARCHAR" />
    <result column="ClassTime" property="classtime" jdbcType="VARCHAR" />
    <result column="College" property="college" jdbcType="VARCHAR" />
    <result column="School" property="school" jdbcType="VARCHAR" />
    <result column="CreatTime" property="creattime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ClassId, ClassName, TeacherName, TeacherId, type, Master, People_Count, Location, 
    ClassTime, College, School, CreatTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from classlesson
    where ClassId = #{classid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classlesson
    where ClassId = #{classid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whch.presentCloud.entity.classLesson" >
    insert into classlesson (ClassId, ClassName, TeacherName, 
      TeacherId, type, Master, 
      People_Count, Location, ClassTime, 
      College, School, CreatTime)
    values (#{classid,jdbcType=INTEGER}, #{classname,jdbcType=VARCHAR}, #{teachername,jdbcType=VARCHAR}, 
      #{teacherid,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{master,jdbcType=VARCHAR}, 
      #{peopleCount,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}, #{classtime,jdbcType=VARCHAR}, 
      #{college,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.whch.presentCloud.entity.classLesson" >
    insert into classlesson
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="classid != null" >
        ClassId,
      </if>
      <if test="classname != null" >
        ClassName,
      </if>
      <if test="teachername != null" >
        TeacherName,
      </if>
      <if test="teacherid != null" >
        TeacherId,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="master != null" >
        Master,
      </if>
      <if test="peopleCount != null" >
        People_Count,
      </if>
      <if test="location != null" >
        Location,
      </if>
      <if test="classtime != null" >
        ClassTime,
      </if>
      <if test="college != null" >
        College,
      </if>
      <if test="school != null" >
        School,
      </if>
      <if test="creattime != null" >
        CreatTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="classname != null" >
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="teachername != null" >
        #{teachername,jdbcType=VARCHAR},
      </if>
      <if test="teacherid != null" >
        #{teacherid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="master != null" >
        #{master,jdbcType=VARCHAR},
      </if>
      <if test="peopleCount != null" >
        #{peopleCount,jdbcType=INTEGER},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="classtime != null" >
        #{classtime,jdbcType=VARCHAR},
      </if>
      <if test="college != null" >
        #{college,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whch.presentCloud.entity.classLesson" >
    update classlesson
    <set >
      <if test="record.classid != null" >
        ClassId = #{record.classid,jdbcType=VARCHAR},
      </if>
      <if test="record.classname != null" >
        ClassName = #{record.classname,jdbcType=VARCHAR},
      </if>
      <if test="record.teachername != null" >
        TeacherName = #{record.teachername,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherid != null" >
        TeacherId = #{record.teacherid,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.master != null" >
        Master = #{record.master,jdbcType=VARCHAR},
      </if>
      <if test="record.peopleCount != null" >
        People_Count = #{record.peopleCount,jdbcType=INTEGER},
      </if>
      <if test="record.location != null" >
        Location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.classtime != null" >
        ClassTime = #{record.classtime,jdbcType=VARCHAR},
      </if>
      <if test="record.college != null" >
        College = #{record.college,jdbcType=VARCHAR},
      </if>
      <if test="record.school != null" >
        School = #{record.school,jdbcType=VARCHAR},
      </if>
      <if test="record.creattime != null" >
        CreatTime = #{record.creattime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ClassId = #{oldclassid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whch.presentCloud.entity.classLesson" >
    update classlesson
    set ClassName = #{classname,jdbcType=VARCHAR},
      TeacherName = #{teachername,jdbcType=VARCHAR},
      TeacherId = #{teacherid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      Master = #{master,jdbcType=VARCHAR},
      People_Count = #{peopleCount,jdbcType=INTEGER},
      Location = #{location,jdbcType=VARCHAR},
      ClassTime = #{classtime,jdbcType=VARCHAR},
      College = #{college,jdbcType=VARCHAR},
      School = #{school,jdbcType=VARCHAR},
      CreatTime = #{creattime,jdbcType=TIMESTAMP}
    where ClassId = #{classid,jdbcType=INTEGER}
  </update>
</mapper>